{% extends 'views/layouts/main.twig' %}

{% block mainMenu %}
{{ widget('zii.widgets.CMenu',{
	        'items':[
	            {'label':'Главная', 'url':['/site/index']},
	            {'label':'Пользователи', 'url':['/admin/adminUsers'], 'active' : this.id == 'admin/adminUsers' },
	            {'label':'Выйти ('~App.user.name~')', 'url':['/site/logout'], 'visible': not App.user.isGuest}
	        ]
	    }) }}
{% endblock %}

{% block pageContents %}
<div class="span-19">
	{{ parent() }}
</div>
<div class="span-5 last">
	<div id="sidebar">
		{{ void(this.beginWidget('zii.widgets.CPortlet', {'title': 'Действия'})) }}
		{{ widget('zii.widgets.CMenu', {
			'items': this.menu,
			'htmlOptions': {'class':'operations'}
		}) }}
		{{ void(this.endWidget()) }}
	</div><!-- sidebar -->
</div>
{% endblock %}