<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="language" content="en" />

	<!-- blueprint CSS framework -->
	<link rel="stylesheet" type="text/css" href="{{ App.request.baseUrl }}/css/screen.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="{{ App.request.baseUrl }}/css/print.css" media="print" />
	<!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" href="{{ App.request.baseUrl }}/css/ie.css" media="screen, projection" />
	<![endif]-->

	<link rel="stylesheet" type="text/css" href="{{ App.request.baseUrl }}/css/main.css" />
	<link rel="stylesheet" type="text/css" href="{{ App.request.baseUrl }}/css/form.css" />

	<title>{% block title %}{{ this.pageTitle }}{% endblock %}</title>
</head>

<body>

<div class="container" id="page">

	<div id="header">
		<div id="logo">{{ App.name }}</div>
	</div><!-- header -->

	<div id="mainmenu">
		{% block mainMenu %}
		{{ widget('zii.widgets.CMenu',{
	        'items':[
	            {'label':'Главная', 'url':['/site/index']},
	            {'label':'Войти', 'url':['/site/login'], 'visible':App.user.isGuest},
	            {'label':'Админ', 'url':['/admin/admin'], 'visible':App.user.checkAccess('adminActions')},
	            {'label':'Выйти ('~App.user.name~')', 'url':['/site/logout'], 'visible':not App.user.isGuest}
	        ]
	    }) }}
		{% endblock %}
	</div><!-- mainmenu -->

	{% block pageContents %}
	<div id="content">
		{% block content %}{% endblock %}
	</div><!-- content -->
	{% endblock %}

</div><!-- page -->

</body>
</html>
