{% extends 'views/layouts/main.twig' %}

{% block content %}
    <h1>Войти</h1>

    <p class="note">Поля с символом <span class="required">*</span> обязательны для заполнения.</p>
    {% set form = this.beginWidget('bootstrap.widgets.TbActiveForm', {
    'type' : 'horizontal',
    'enableClientValidation': true,
    }) %}

    {{ form.textFieldRow(model, 'name', { placeholder: false }) | raw }}
    {{ form.passwordFieldRow(model, 'password', { placeholder: false }) | raw }}
    {{ form.checkBoxRow(model, 'rememberMe')|raw }}

    <div class="form-actions">
        {{ widget('bootstrap.widgets.TbButton', {
        'type' : 'primary',
        'buttonType' : 'submit',
        'icon' : 'ok white',
        'label' : 'Войти',
        }) }}
    </div>
    {{ void(this.endWidget()) }}

{% endblock %}
