<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>{{client.name}}</title>

	<link rel="stylesheet" href="/css/default.css" />
	<link rel="stylesheet" href="/css/vertical.css" />

	<style type="text/css">
		.horizontal-goods__cost
		{
			color: #{{client.color}};
		}
	</style>

	<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="/js/b-popular.js"></script>
</head>
<body>
<script type="text/javascript">
	window.onPage = {{onPage}};
</script>
<div style="width: 240px;">
	<div class="horizontal-goods-container">
		<div class="horizontal-goods-container__header">
			<a href="{{urlPrefix}}{{client.url|url_encode}}"><img src="{{client.getResizedLogoUrl(logoSize)}}" alt="{{client.name}}"/></a>
			<p>{{client.caption}}</p>
		</div>
		<ul class="horizontal-goods">
			{% for item in items if loop.index0 < onPage %}
			<li>
				<a href="{{urlPrefix}}{{item.url|url_encode}}" target="_blank">
					<span class="horizontal-goods__img">
						<img style="background: url({{item.getResizedImageUrl(thumbSize)}}) center center no-repeat;" src="/images/empty.gif" alt="{{item.title}}"/>
					</span>
					<span class="horizontal-goods__title">{{item.title}}</span>
				</a>
				<span class="horizontal-goods__cost">{{item.price|replace({' ':'&nbsp;'})|raw}}</span>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
</body>
</html>